.Council-Banner {
    height: 1000px;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/Jedi_Council_Room.jpg');

}
.Council-Text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.8;
    text-transform: capitalize;
    max-width: 400px;
    position: relative;
    left: 10%;
    top: 30%;
    color: white;
}
.Council-Text h1 {
    font-size: 3rem;
    
}

.Council-ProfileCardContainer {
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    /* justify-content: space-; */
    gap: 5rem;
    place-content: center;
}

@media (max-width: 1200px) {
    .Council-ProfileCardContainer {
        padding: 0 2rem;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .Council-ProfileCardContainer {
        padding: 0 2rem;
        grid-template-columns: 1fr;
    }
}