.Hero-Container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.reverse {
    flex-direction: row-reverse;
}

.white {
    background-color: white;
    color: black;
}

.Hero-Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    
    
}

.Hero-Image {
    position: relative;
}


.Hero-Text h1 {
    font-size: clamp(1.5rem, 5vw, 3.5rem);
    width: 40%;
}

.Hero-Text p {
    font-size: 1rem;
    width: 40%;
    line-height: 1.8;
    opacity: 60%;
}
.Hero-Image_Text {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    /* border: 2px solid red; */
    padding: 2rem;
    bottom: 1px;
}

@media (width <= 640px) {
    .Hero-Container {
        flex-direction: column;
    }
    .Hero-Text {
        padding: 2rem 0;
    }
}