* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

/* Panel Section */
.Panel_Section {
  display: flex;
  gap: 2rem;
  margin: 10rem 0;
  align-items: center;
  margin-inline: auto;
  justify-content: space-around;
  max-width: 2000px;
}

/* General Classes */

.uppercase {
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 500px);
  place-content: center;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media (width <= 640px) {
  .grid {
    padding: 0 1rem;
    grid-template-columns: 1fr;
  }

  .Panel_Section {
    flex-direction: column;
  }
}
